@model List<AllMixes>
@{
    ViewData["Title"] = "Musik Mixer";
}
<div class="container">
    <input type="text" id="search" placeholder="Suche"  class="input-group-text"/>
    <table class="table table-responsive table-hover">

        <tr>

            <td>ID</td>

            <td>Titel</td>

            <td>Anhören</td>

            <td>Download</td>

        </tr>



        @foreach (var mix in Model)

        {

            <tr id="trsearch">

                <td>@mix.MixID</td>

                <td id="tdsearch">@mix.MixTitle</td>

                <td>
                    <audio controls>
                        <source src="@Url.Content(@mix.MixPath)" type="audio/mpeg">
                    </audio>
                </td>

                <td>@Html.ActionLink("Download", "DownloadMix", new { Name = mix.MixTitle })</td>


            </tr>



        }

    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jquery.quicksearch.js"></script>
<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr#trsearch', {
        selector: 'td#tdsearch'
    });

</script>